<div class="modal-overlay">
  <div class="modal-card">
    <h2 class="modal-title">Edit employee</h2>

    <form [formGroup]="editForm" (ngSubmit)="onSave()">

      <div class="form-row" style="display: flex; gap: 16px; margin-bottom: 16px;">
        <div class="form-group" style="flex: 1;">
          <label>Ime: <span class="text-danger">*</span></label>
          <input type="text" formControlName="ime" class="modal-input"
                 [class.input-error]="editForm.get('ime')?.invalid && editForm.get('ime')?.touched">
          <span class="error-message" *ngIf="editForm.get('ime')?.invalid && editForm.get('ime')?.touched">
            Obavezno polje (min 2 karaktera).
          </span>
        </div>

        <div class="form-group" style="flex: 1;">
          <label>Prezime: <span class="text-danger">*</span></label>
          <input type="text" formControlName="prezime" class="modal-input"
                 [class.input-error]="editForm.get('prezime')?.invalid && editForm.get('prezime')?.touched">
          <span class="error-message" *ngIf="editForm.get('prezime')?.invalid && editForm.get('prezime')?.touched">
            Obavezno polje (min 2 karaktera).
          </span>
        </div>
      </div>

      <div class="form-group" style="margin-bottom: 16px;">
        <label>Email: <span class="text-danger">*</span></label>
        <input type="email" formControlName="email" class="modal-input"
               [class.input-error]="editForm.get('email')?.invalid && editForm.get('email')?.touched">
        <span class="error-message" *ngIf="editForm.get('email')?.invalid && editForm.get('email')?.touched">
          Unesite validan email.
        </span>
      </div>

      <div class="form-group" style="margin-bottom: 16px;">
        <label>Role:</label>
        <select formControlName="role" class="modal-input select-icon">
          <option value="BASIC">Basic</option>
          <option value="AGENT">Agent</option>
          <option value="SUPERVISOR">Supervisor</option>
          <option value="ADMIN">Admin</option>
        </select>
      </div>

      <div class="form-group" style="margin-bottom: 16px;">
        <label>Status:</label>
        <select formControlName="aktivan" class="modal-input select-icon">
          <option [ngValue]="true">Active</option>
          <option [ngValue]="false">Inactive</option>
        </select>
      </div>

      <div class="modal-actions">
        <button type="submit" class="btn-save" [disabled]="editForm.invalid">Save changes</button>
        <button type="button" class="btn-cancel" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
